# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List some commonly used libraries by Data Scientists
- List some open source development environments used in Data Science
- Show how to perform simple arithmetic expression

Some of the popular languages that Data Scientists use are
1. R
2. Python
3. Scala
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. R libraries
2. SCALA libraries Vegas
3. Pandas
4. Numpy
5. Matplolib
6. Seaborn

|Data Science Tools|
|--------------------|
|Jupyter IDE|
|RStudio|
|Spyder|
|Ray|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expression in Python
- x + y
- z - y
- a * b

In [28]:
# This is a simple arithmetic expression to multiply then add intergers

(3 * 4) + 5

17

In [30]:
# This will convert 200 minutes to hours by divinding by 60

200/60

3.3333333333333335

## Author
Gideon Ofosu-Budu